.caixa {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: var(--cinza-claro);
  background-color: red;
}

.conteudo {
  display: flex;
}

.gridLinha {
  display: grid;
  grid-template-rows: 6rem calc(100% - 6rem);
}
/* .gridColuna {
  display: grid;
  grid-template-columns: 25% auto;
} */
