.caixa {
  background-color: white;
<<<<<<< HEAD

  justify-self: end;
  height: 10%;
=======
>>>>>>> 6d10a3fd3591cb8b4324e4d27d86a4909c4215e4
}

.gridColuna {
  display: grid;
  grid-template-columns: 80% auto;
}
.texto {
}
.botao {
  cursor: pointer;
}
