@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --azul: #46bbfe;
  --cinza-escuro: #b2b2b2;
  --cinza-claro: #f4f4f4;
  --vermelho-erro: #e74c3c;
  --verde-sucesso: #2ecc71;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  background-color: var(--azul);
  font-size: 62.5%;
}
