.cabecalho {
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: var(--cinza-escuro);
  align-items: center;
=======
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cinza-escuro);
>>>>>>> 6d10a3fd3591cb8b4324e4d27d86a4909c4215e4
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 20px 20px 0 0;
<<<<<<< HEAD
  padding: 0 2rem;
}
.caixaCardContato {
  justify-self: start;
  height: 6rem;
}
.icon:hover {
  background-color: var(--cinza-claro);
}
.clicado {
  background-color: var(--cinza-claro);
}
.icon {
  border-radius: 5px;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color: rgb(0, 0, 0);
=======
}
.caixaCardContato {
  height: 6rem;
  width: max-content;
}
.icon {
  color: black;
>>>>>>> 6d10a3fd3591cb8b4324e4d27d86a4909c4215e4
  font-size: 2.4rem;
  cursor: pointer;
}
.positionRelative {
<<<<<<< HEAD
  width: 50px;
=======
>>>>>>> 6d10a3fd3591cb8b4324e4d27d86a4909c4215e4
  position: relative;
}

.botoes {
<<<<<<< HEAD
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.botaoMenu {
  justify-self: start;
=======
>>>>>>> 6d10a3fd3591cb8b4324e4d27d86a4909c4215e4
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
